$black: #000000;
$white: #FFFFFF;

$main-theme-deep-black: #13141F;
$main-theme-deep-navy: #191a29;
$main-theme-blue: #2f3998;
$main-theme-blue-pressed: rgba($main-theme-blue, .5);

$main-theme-steel-gray: #1f2133;
$main-theme-light-gray: #9699b2;
$main-theme-sky-blue: #579cd6;
$main-theme-red: #cc4b14;
$editor-linenumber: #4f515e;

$error-red: rgba(#f5500a, 0.8);
$warning-yellow: rgba(#f5a60a, .8);

$box-header-active: #25283d;
$box-header-hover: #2b2f47;
$box-header-pressed: #1f2133;
$function-send-button: #429bb8;


$clay: #25283d;

$editor-tab-active: #2B2F47;
$editor-tab-hover: #2B2F47;